/*=======================================
            Colors - Start
=======================================*/
$color-primary-default: #ffffff;
$color-secondary-dark: #1a265c;
$color-secondary-semidark: #3046a8;
$color-secondary-default: #3e5bdb;
$color-secondary-semilight: #617eff;
$color-secondary-light: #dfe3f6;
$color-blend: linear-gradient(145.63deg, #3e5bdb 23.14%, #ffb200 110.19%);

/*=======================================
            Colors - End
=======================================*/
