/*=======================================
            Carousel - Start
=======================================*/
.carousel {
    .carousel-indicators {
        button {
            width: 10px !important;
            height: 10px !important;
            background: #f3f5fc;
            border-radius: 50%;
            border: 0 !important;
            transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -moz-transition: all ease 1s;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }
        .active {
            width: 45px !important;
            height: 10px !important;
            background: #f3f5fc;
            border-radius: 15px;
            border: 0 !important;
            transition: all ease 1s;
            -webkit-transition: all ease 1s;
            -moz-transition: all ease 1s;
            -ms-transition: all ease 1s;
            -o-transition: all ease 1s;
        }
    }

    .carousel-inner {
        .carousel-item {
            position: relative;
            height: 100vh;
            .carousel-item-image {
                position: relative;
                width: 100%;
                height: 100%;
                max-width: 100vw;
                max-height: 100vh;
                object-fit: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .carousel-item-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    311.85deg,
                    rgba(26, 38, 92, 0.65) 30.35%,
                    rgba(255, 178, 0, 0.4875) 224.05%
                );
            }

            .carousel-caption {
                text-align: left;
                transform: translate(0%, -50%);

                h1 {
                    font-family: $defaultFamily;
                    font-style: $style-normal;
                    font-weight: $weight-semibold;
                    font-size: 4.8rem;
                    line-height: 5.2rem;
                    letter-spacing: -0.0008em;
                    color: $color-primary-default;
                }
                p {
                    margin: 1rem 0 0 0;
                    font-family: $defaultFamily;
                    font-style: $style-normal;
                    font-weight: $weight-normal;
                    font-size: 2.6rem;
                    line-height: 3.1rem;
                    letter-spacing: -0.0008em;
                    color: $color-primary-default;
                }
                a {
                    margin: 2rem 0 0 0;
                    display: inline-block;
                    padding: 16px 18px;
                    gap: 10px;

                    min-width: 173px;
                    min-height: 54px;

                    background: linear-gradient(
                        95.56deg,
                        #ffb200 0%,
                        #ffd148 100%
                    );
                    border-radius: 15px;

                    font-family: $defaultFamily;
                    font-style: $style-normal;
                    font-weight: $weight-normal;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    letter-spacing: -0.0008em;
                    color: $color-secondary-dark;

                    i {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
    }
}
/*=======================================
            Carousel - End
=======================================*/

@media (max-width: 576px) {
    .carousel {
        .carousel-indicators {
            button {
                width: 10px !important;
                height: 10px !important;
                background: #f3f5fc;
                border-radius: 50%;
                border: 0 !important;
                transition: all ease 1s;
                -webkit-transition: all ease 1s;
                -moz-transition: all ease 1s;
                -ms-transition: all ease 1s;
                -o-transition: all ease 1s;
            }
            .active {
                width: 45px !important;
                height: 10px !important;
                background: #f3f5fc;
                border-radius: 15px;
                border: 0 !important;
                transition: all ease 1s;
                -webkit-transition: all ease 1s;
                -moz-transition: all ease 1s;
                -ms-transition: all ease 1s;
                -o-transition: all ease 1s;
            }
        }

        .carousel-inner {
            .carousel-item {
                position: relative;
                height: 100vh;

                .carousel-caption {
                    text-align: left;
                    transform: translate(0%, -50%);

                    h1 {
                        font-family: $defaultFamily;
                        font-style: $style-normal;
                        font-weight: $weight-semibold;
                        font-size: 2.4rem;
                        line-height: 2.9rem;
                        letter-spacing: -0.0008em;
                        color: $color-primary-default;
                    }
                    p {
                        font-family: $defaultFamily;
                        font-style: $style-normal;
                        font-weight: $weight-normal;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        letter-spacing: -0.0008em;
                        color: $color-primary-default;
                    }
                }
            }
        }
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            display: none;
        }
    }
}
