.header {
    .overlayForHeader {
        position: relative;
        top: 0;
        height: 40vh;
        width: 100%;
        text-align: center;
        // padding-top: 100px;
        color: white;
        overflow: hidden;
        background-position: center center;
        background: #c04848; /* fallback for old browsers */
        background: linear-gradient(
                311.85deg,
                rgba(26, 38, 92, 0.65) 30.35%,
                rgba(255, 178, 0, 0.4875) 224.05%
            ),
            url("../tools/images/png/bg__04.jpeg"); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
                311.85deg,
                rgba(26, 38, 92, 0.65) 30.35%,
                rgba(255, 178, 0, 0.4875) 224.05%
            ),
            url("../tools/images/png/bg__04.jpeg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: $defaultFamily;
        font-style: $style-normal;
        font-weight: $weight-semibold;
        font-size: 5.4rem;
        line-height: 7.4rem;
        text-align: center;
        color: #ffffff;
    }
}

.contact {
    background: #f3f5fc;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;

        h3 {
            font-family: $defaultFamily;
            font-style: $style-normal;
            font-weight: $weight-semibold;
            font-size: 3.8rem;
            line-height: 4.6rem;
            text-align: center;
            color: #1a265c;
            margin-bottom: 30px;
        }
        p {
            display: flex;
            align-items: center;
            color: #a4afe5;

            font-family: $defaultFamily;
            font-style: $style-normal;
            font-weight: $weight-normal;
            font-size: 1.9rem;
            line-height: 2.2rem;
            text-align: center;

            img {
                margin: 0 10px 0 0;
            }

            span {
                color: #3e5bdb;
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;

        h3 {
            font-family: $defaultFamily;
            font-style: $style-normal;
            font-weight: $weight-semibold;
            font-size: 3.8rem;
            line-height: 4.6rem;
            text-align: center;
            color: #1a265c;
            margin-bottom: 30px;
        }

        &--list {
            div div:nth-child(1) a {
                background: linear-gradient(
                        0deg,
                        rgba(0, 0, 0, 0.05),
                        rgba(0, 0, 0, 0.05)
                    ),
                    linear-gradient(98.64deg, #d62976 1.38%, #fa7e1e 98.29%);
            }

            div div:nth-child(2) a {
                background: linear-gradient(
                        0deg,
                        rgba(0, 0, 0, 0.05),
                        rgba(0, 0, 0, 0.05)
                    ),
                    linear-gradient(98.64deg, #0e76a8 1.38%, #1191cf 98.29%);
            }

            div div:nth-child(3) a {
                background: linear-gradient(
                        0deg,
                        rgba(0, 0, 0, 0.05),
                        rgba(0, 0, 0, 0.05)
                    ),
                    linear-gradient(98.64deg, #293dd6 1.38%, #1ea9fa 98.29%);
            }

            div div:nth-child(4) a {
                background: linear-gradient(
                        0deg,
                        rgba(0, 0, 0, 0.05),
                        rgba(0, 0, 0, 0.05)
                    ),
                    linear-gradient(98.64deg, #00acee 1.38%, #57d0ff 98.29%);
            }

            a {
                display: flex;
                align-items: center;
                background-blend-mode: multiply, normal;
                box-shadow: 0px 4px 20px rgba(240, 78, 35, 0.25);
                border-radius: 20px;
                color: $color-primary-default;
                padding: 17px 20px;
                margin: 5px 0;
                max-width: 260px;

                font-family: $defaultFamily;
                font-style: $style-normal;
                font-weight: $weight-normal;
                font-size: 1.9rem;
                line-height: 2.2rem;
                text-align: center;
                letter-spacing: -0.0008em;

                /* Blue/BG 4 */

                color: #f3f5fc;

                i {
                    margin: 0 10px 0 0;
                }
            }
        }
    }

    &__adress {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
        h3 {
            font-family: $defaultFamily;
            font-style: $style-normal;
            font-weight: $weight-semibold;
            font-size: 3.8rem;
            line-height: 4.6rem;
            text-align: center;
            color: #1a265c;
            margin-bottom: 30px;
        }
        p {
            display: flex;
            align-items: center;
            color: #3e5bdb;

            font-family: $defaultFamily;
            font-style: $style-normal;
            font-weight: $weight-normal;
            font-size: 1.9rem;
            line-height: 2.2rem;
            text-align: center;

            img {
                margin: 0 10px 0 0;
            }

            span {
                font-weight: $weight-semibold;
                color: #3e5bdb;
            }
        }

        iframe {
            margin-top: 3rem;
            margin-bottom: 3rem;
            border-radius: 2rem;
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            -ms-border-radius: 2rem;
            -o-border-radius: 2rem;
            min-height: 400px;
        }
    }
}
