/*=======================================
                 Base =>
=======================================*/
/*=======================================
            Reset - Start
=======================================*/
/* ------------------------------------------------
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ------------------------------------------------
   HTML5 display-role reset for older browsers
------------------------------------------------- */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=======================================
            Reset - End
=======================================*/
/*=======================================
                 Abstracts =>
=======================================*/
/*=======================================
           Typography - Start
=======================================*/
/* ---------- DM Sans - from Google Font ---------- */
/* ---------- Font Details ---------- */
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

/* ---------- Header ---------- */
/* ---------- Advertisement ---------- */
/* ---------- News ---------- */
/* ---------- Degree ---------- */
/* ----------- Quality ---------- */
/* ---------- Faculty ---------- */
/* ---------- FeedBacksGraduates ---------- */
/* ---------- Programs ---------- */
/* ---------- FeedBacksTeachers ---------- */
/* ---------- Partners ---------- */
/* ---------- Footer ---------- */
/*=======================================
           Typography - End
=======================================*/
/*=======================================
            Colors - Start
=======================================*/
/*=======================================
            Colors - End
=======================================*/
/*=======================================
                 Layout =>
=======================================*/
.main {
  position: relative;
}
.main__bg {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-size: contain;
  object-fit: cover;
  object-position: 0 0;
}

@media (max-width: 768px) {
  .swiper-button-prev,
.swiper-button-next {
    display: none !important;
  }
}
/* ===== Google Font Import - Poppins ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease;
}

/* ===== Colours ===== */
:root {
  --body-color: #e4e9f7;
  --nav-color: #4070f4;
  --side-nav: #010718;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 140px;
  width: 100%;
  background: transparent;
  z-index: 100;
}

.scrollEffect {
  background: #fff;
  display: flex;
  align-items: center;
}
.scrollEffect .topNav li a {
  color: #617EFF !important;
}
.scrollEffect .nav-links li a {
  color: #1e2782;
}
.scrollEffect .scrollColor {
  color: #1e2782 !important;
}
.scrollEffect .scrollColor i {
  color: #1e2782 !important;
}

.noneLogo {
  display: none !important;
}

.blockLogo {
  display: block !important;
}

body.dark nav {
  border: 1px solid #393838;
}

nav .nav-bar {
  height: 100%;
  background: transparent;
  padding: 0 30px;
  min-height: 140px;
}

nav .nav-bar .sidebarOpen {
  color: #fff;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: #1a265c;
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

@media (max-width: 790px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 70px !important;
    width: 100%;
    background: transparent;
    z-index: 100;
  }
  nav .nav-bar {
    height: 100%;
    background: transparent;
    padding: 0 30px;
    min-height: 70px !important;
  }
}
@media (min-width: 790px) {
  .withSub li {
    padding: 14px 20px;
  }
  .nav-links {
    margin-top: 1rem;
  }
}
.topNav li a {
  color: #fff !important;
}

.nav-links li a {
  position: relative;
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav-links .sub-menu li a {
  position: relative;
  font-size: 1.7rem;
  font-weight: 400;
  color: #1a265c;
  text-decoration: none;
  padding: 10px;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggleOne,
.darkLight-searchBox .searchToggleTwo {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggleOne i,
.searchToggleTwo i {
  position: absolute;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}

.searchToggleOne i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggleTwo i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggleOne.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggleTwo.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggleOne.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchToggleTwo.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field i {
  color: #1a265c;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggleOne.active ~ .search-field {
  bottom: -70px;
  opacity: 1;
  pointer-events: auto;
}

.searchToggleTwo.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: #fff;
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}

body.dark .search-field input {
  color: #1a265c;
}

.search-field i {
  position: absolute;
  color: #fff;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i {
  color: #1a265c;
}

.sub-menu {
  display: none;
}

.withSub li {
  position: relative;
}

.withSub li:hover .sub-menu {
  border-radius: 16px;
  display: block;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.withSub li:hover .sub-menu ul {
  display: block;
  margin: 10px;
  min-width: 230px;
  width: 100%;
}

.withSub li:hover .sub-menu ul li {
  min-width: 230px;
  width: 100%;
  padding: 10px;
  border-bottom: 1px dotted var(--border-color);
  background: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  text-align: left;
}

.withSub li:hover a i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 100%;
    right: -100%;
    top: 0;
    padding: 20px;
    background-color: #fff;
    z-index: 100;
    transition: all 0.4s ease;
  }
  .menu .topNav li a {
    color: #617EFF !important;
  }
  .menu .nav-links li a {
    color: #1e2782;
  }
  .menu .scrollColor {
    color: #1e2782 !important;
  }
  .menu .scrollColor i {
    color: #1e2782 !important;
  }
  nav.active .menu {
    right: 0%;
  }
  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }
  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .logo-toggle .sidebarClose {
    color: #1a265c;
    font-size: 24px;
    cursor: pointer;
  }
  .topNav {
    border-bottom: 0.6px solid #a4afe5;
  }
  .nav-bar .nav-links {
    flex-direction: column;
  }
  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}
@media (max-width: 790px) {
  .deskBlock {
    display: none !important;
  }
  .mobBlock {
    display: block !important;
  }
}
@media (min-width: 790px) {
  .mobBlock {
    display: none !important;
  }
  .deskBlock {
    display: block !important;
  }
}
/*=======================================
                 Components =>
=======================================*/
.advertisement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
}
.advertisement__heading {
  display: flex;
  align-items: center;
  text-align: center;
  color: #1a265c;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.0008em;
  font-size: 4.8rem;
  line-height: 5.2rem;
  margin: 0 0 1rem 0;
}
.advertisement__description {
  text-align: center;
  color: #3046a8;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 3.1rem;
  letter-spacing: -0.0008em;
  opacity: 0.6;
}
.advertisement__image {
  position: relative;
  overflow: hidden;
}
.advertisement__image--frame {
  border: 1rem solid #ffffff;
  margin: 4rem 0 0 0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.advertisement__image--overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advertisement__image--overlay i {
  font-size: 4.5rem;
  color: #ffffff;
  margin: 0 2rem 0 0;
}
.advertisement__image--overlay--text {
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: #ffffff;
}
.advertisement__image--videoPlayer {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 200;
}
.advertisement__image--videoPlayer video i {
  z-index: 200;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 50px;
}

.news__header__nav {
  display: flex;
  justify-content: space-between;
  background: #dfe3f6;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.news__header__nav--list--item {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 3.1rem;
  letter-spacing: -0.0008em;
  color: #3e5bdb !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-shadow: 0px 4px 20px rgba(164, 175, 229, 0.25);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.news__header__nav--list--item.active {
  background: #ffffff !important;
}
.news__cta__frame {
  margin: 4rem auto;
  padding: 0 3.5rem;
}
.news__cta__frame--date {
  position: relative;
}
.news__cta__frame--date--content {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.9rem;
  color: #617eff;
  flex: none;
  order: 1;
  flex-grow: 0;
  background: rgba(223, 227, 246, 0.8);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 1rem;
}
.news__cta__frame--date--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.news__cta__frame--date--info {
  opacity: 80%;
}
.news__cta__frame--date--info--title {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.04em;
  color: #3e5bdb;
}
.news__cta__frame--date--info--description {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 2.5rem;
  color: #1a265c;
}

/*=======================================
            Carousel - Start
=======================================*/
.carousel .carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  background: #f3f5fc;
  border-radius: 50%;
  border: 0 !important;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}
.carousel .carousel-indicators .active {
  width: 45px !important;
  height: 10px !important;
  background: #f3f5fc;
  border-radius: 15px;
  border: 0 !important;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}
.carousel .carousel-inner .carousel-item {
  position: relative;
  height: 100vh;
}
.carousel .carousel-inner .carousel-item .carousel-item-image {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .carousel-inner .carousel-item .carousel-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(311.85deg, rgba(26, 38, 92, 0.65) 30.35%, rgba(255, 178, 0, 0.4875) 224.05%);
}
.carousel .carousel-inner .carousel-item .carousel-caption {
  text-align: left;
  transform: translate(0%, -50%);
}
.carousel .carousel-inner .carousel-item .carousel-caption h1 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.2rem;
  letter-spacing: -0.0008em;
  color: #ffffff;
}
.carousel .carousel-inner .carousel-item .carousel-caption p {
  margin: 1rem 0 0 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 3.1rem;
  letter-spacing: -0.0008em;
  color: #ffffff;
}
.carousel .carousel-inner .carousel-item .carousel-caption a {
  margin: 2rem 0 0 0;
  display: inline-block;
  padding: 16px 18px;
  gap: 10px;
  min-width: 173px;
  min-height: 54px;
  background: linear-gradient(95.56deg, #ffb200 0%, #ffd148 100%);
  border-radius: 15px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: -0.0008em;
  color: #1a265c;
}
.carousel .carousel-inner .carousel-item .carousel-caption a i {
  margin-left: 0.5rem;
}
.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/*=======================================
            Carousel - End
=======================================*/
@media (max-width: 576px) {
  .carousel .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    background: #f3f5fc;
    border-radius: 50%;
    border: 0 !important;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
  }
  .carousel .carousel-indicators .active {
    width: 45px !important;
    height: 10px !important;
    background: #f3f5fc;
    border-radius: 15px;
    border: 0 !important;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
  }
  .carousel .carousel-inner .carousel-item {
    position: relative;
    height: 100vh;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption {
    text-align: left;
    transform: translate(0%, -50%);
  }
  .carousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.9rem;
    letter-spacing: -0.0008em;
    color: #ffffff;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: -0.0008em;
    color: #ffffff;
  }
  .carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
    display: none;
  }
}
/*=======================================
                 Effects =>
=======================================*/
/*=======================================
            TextSelection - Start
=======================================*/
::-moz-selection {
  /* Code for Firefox */
  color: #3e5bdb;
  background: #dfe3f6;
}

::selection {
  color: #3e5bdb;
  background: #dfe3f6;
}

/*=======================================
            TextSelection - End
=======================================*/